extends layout

block content
  div.wrapper
    div.blur
    div.indexPage
    .contentHeader
      h1= title
      p Welcome to #{title}
      br
      br
      br
      p A website that allows you to catalog the songs your loved one enjoys throughout their life
      p It makes for a heartfelt and meaningful gift for any occasion
      p Updates can be made on the website or....
      p You'll be provided a form via e-mail in intervals of your choosing where you can catalog the tunes
      p Suggestions will be provided with samples in case you don't know the name of some tunes!
      p Aim to use the spotify API and a mail client!
    div
      if errors
          for message in errors
              p=messages


