extends layout

block content
  div.wrapper
    div
      if errors
        for messages in errors
          p=messages
    div.blur
    div.indexPage
    .contentHeader
      h1= title
      p Welcome to #{title}
      br
      br
      br
      p A website that allows you to catalog the songs your loved one enjoys throughout their life
      p It makes for a heartfelt and meaningful gift for any occasion



