body {
  margin: 0;
  background-size: cover;
  position: relative; }

html {
  margin: 0; }

h1 {
  font-family: 'IM Fell DW Pica', serif; }

h2 {
  font-family: 'IM Fell DW Pica', serif; }

.forms {
  text-align: center; }

.contentHeader {
  text-align: center; }

.indexPage {
  position: absolute; }

.indexContainer {
  margin-left: 26%;
  height: 75vh;
  width: 50vw;
  background-color: orange;
  position: absolute;
  text-align: center; }

.wrapper {
  position: relative; }


