body {
  margin: 0; }

html {
  margin: 0;
  background: url(http://www.publicdomainpictures.net/pictures/10000/velka/87-1265714548Otmq.jpg) no-repeat center center fixed;
  background-size: cover;
  position: relative; }

.forms {
  text-align: center; }

.contentHeader {
  text-align: center; }

.indexPage {
  position: absolute; }

.indexContainer {
  margin-left: 26%;
  height: 75vh;
  width: 50vw;
  background-color: orange;
  position: absolute;
  text-align: center; }


