extends ../layout

block content
  div.contentHeader
    h1 Register now to catalog all of the tunes!
    p Do it for the children
  div
    if errors
      for messages in errors
        p=messages
  div.forms
    form(action='/users/registration' method='post')
      div
          label E-mail
      input(type='text' name='user_email')
      div
          label Password
      input(type='password' name="user_password")
      div 
          label Password Confirmation
      input(type='password' name='user_password_confirmation')
      div
        input(type='submit')